@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: local("Poppins-ExtraBold"), url(./assets/fonts/Poppins-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: local("Poppins-ExtraBoldItalic"), url(./assets/fonts/Poppins-ExtraBoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local("Poppins-Bold"), url(./assets/fonts/Poppins-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: local("Poppins-BoldItalic"), url(./assets/fonts/Poppins-BoldItalic.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins-Regular"), url(./assets/fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins-Italic"), url(./assets/fonts/Poppins-Italic.ttf) format('truetype');
}